
/** FUENTES **/


@font-face {
    font-family: 'Take Chances';
    src: url(tipografia/Take\ Chances.ttf);
   
}

/* GENERALES */

body{
    background-color: #680AC1;
 
}

main {
    width: 1000px;
    position: absolute;
    height: 1320px;
    left: 18%;
    top: 2%;
    bottom: 2%;
    border-radius: 10px;
    background-color: #41C1AA;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    5px 5px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         5px 5px 15px 0px rgba(50, 50, 50, 0.75);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    font-weight: bolder;
  
}


h1 { 
    font-size: 40px;
    text-align: center;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}




h2 {
	font-family: Verdana;
    color:#ffffff;
	font-size: 14px;
	border: 3px solid  #41C1AA;
	position: absolute;
    background-color: #680AC1;
    font-family: 'Take Chances', Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    margin-left: 12px;
	padding: 6px;
	border-radius: 5px;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    font-size: 12px; 
    
}





select {
	height: 22px;
	border-radius: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-left: 10px;
}


/* HEADER */

header {
	width: 100%; 
    height: 85px;  
    position: static;
    margin-top: -25px;
    background-color: #41C1AA; 
}

.titulo_principal {
    text-align: center;
}
.titulo_principal h1{
    margin-top: 30px;
    font-family: 'Take Chances', Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    vertical-align: middle;  
}


.titulo_principal a {
    color: #680AC1;
    text-decoration: none;

   

}

.titulo_principal a:hover {
    cursor:pointer;
    color: #ffffff;   
  

}

.titulo_principal p {
 margin: auto;
 text-align: end;
 margin-top: -30px;
 margin-right: 10px;
}

.logo {
    max-width: 45px;
    padding: 10px;
    padding-right: 30px;
    padding-top: 0px;
    float: left;
}




/*  TABLA PROFESORES   */

.tabla_profesor{
	width: 100%;
    height: 130px;
   margin-top: 40px;
	background-color: #b1b15e;
	border-radius: 5px;
    background-color: #7DB0BB;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.profesores {
  

}
.tabla_profesor td{
    color:#ffffff;
    font-weight: bolder;
    font-family: 'Take Chances', Verdana, Geneva, Tahoma, sans-serif;


}

.personal-docente {
    margin: -28px 0px 0px 15px;
   
    
}



.felix {  
        width: 150px; 
        height: 100px;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
        order: 1;
     
}

.felix_profe {
    padding: 15px;
}

.raul {  
    width: 150px; 
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    order: 2;

}

.raul_profe{
    padding: 15px;
}

.raquel {  
    width: 150px; 
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    order: 3;
}

.raquel_profe {
    padding: 15px;
}

.tomas {  
    width: 150px; 
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    order: 4;
}

.tomas_profe {
    padding: 15px;
}


/* TABLA DIRECCION */


.tabla_direccion{
	width: 100%;
    height: 130px;
   margin-top: 40px;
	background-color: #b1b15e;
	border-radius: 5px;
    padding: 0px;
    background-color: #7DB0BB;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
 
}

.tabla_direccion h2{
    margin: 12px 0px;
    margin-bottom: 80px;
 
}

.datos {
    padding: 0px;
    padding-left: 150px;

}

.tabla_direccion .datos .celda{
    text-align: center;
	color: #000;
    font-family: 'Take Chances', Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
    padding:15px;	 
    padding-right: 80px; 
      font-weight: bold;
}

.celda2 {
    color:#000;
    padding-left: 80px; 
}



/* TABLA CICLOS  */


.tabla_ciclos {
    width: 100%;
    height: 130px;
    margin-top: 40px;
	background-color: #b1b15e;
	border-radius: 5px;
    padding: 0px;
    align-items: center; 
    background-color: #7DB0BB;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}


.titulaciones{
    margin: 0px;
    margin-top: 10px;
    margin-left: 12px;    
}

.ciclo {
    padding: 0px;
    padding-left: 40px;
    padding-top: 15px;
}

.ciclo th{
    padding-left: 70px;
    font-family: 'Take Chances', Verdana, Geneva, Tahoma, sans-serif;
text-decoration:underline;
}

.ciclo td{
    padding-left:70px;
    font-size: 14px;
}



/* LISTA MASTERS */

.lista_masters {
    width: 100%;
    height: 130px;
   margin-top: 40px;
	background-color: #b1b15e;
	border-radius: 5px;
    padding: 0px;
    align-items: center;
    background-color: #7DB0BB;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    
}

.lista_masters .masters {
    padding-left: 250px;

}
.masters ul {
    padding-top: 5px;
}
.masters li {
    padding: 3px;
}

.masters a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: normal;
}

.masters a:hover{
    
    color: #9564C3;
}







/* FORMULARIO */


.cuerpo-contacto{
    width: 100%;

    margin-top: 40px;
    
    align-items: center; 
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);   
    background-color: #7DB0BB;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.contacto{
    margin: 0px;
    margin-left: 12px; 
    margin-top: 13px;

}

.formulario {
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
   
}


label {
    
    font-weight: 8px;   
    font-weight: normal;
    width: 10px;
}

fieldset{
    width: 95%;
    margin: 0 auto;
   
}

legend {
    font-size: 18px;
    color: #000;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-family: 'Take Chances', Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
  
}



textarea
 {
    padding: 3px;
    padding-top: 15px;
    display: block;
    width: 80%;
      height: 90px;
    background-color: rgb(180, 221, 212);
    margin-bottom: 20px;
        margin-left: 90px;
    border: none;
    border-radius: 3px;
 
}





.datos-personales{
   
    display: grid;
    grid-template-columns: repeat(2,3fr);
    margin-left: 25px;
}

.datos-personales input{     
    width: 300px;
    margin: 10px;
    margin-right: 0px;
    background-color: rgb(180, 221, 212);
    border: 0;
}

.insert_fecha_nacimiento label{         /* fecha nacimiento */
    margin: 0px; 
    padding: 0px;
    
}

.insert_fecha_nacimiento input{
    width: 90px;
    margin-left: 35px;
}

.insert_telefono input {              /* telefono */
    width: 90px;
    margin-left: 35px;
}


.insert_apellidos input {                /* apellidos */
    margin-left: 35px;
}

.insert_dni input {                  /*  dni  */
    margin-left: 75px;
}


.insert_nombre input {               /*  nombre  */
    margin-left: 35px;
}

.insert_email input {               /*  email  */
    margin-left: 57px;
}

                                   /* desplegable cursos */
  .desplegable {                                 
height: 80px;
      }                             

.desplegable_cursos {
    height: 550px;
    margin: 0 auto;
    margin-left: 35px;
}

.intereses {
    margin-left: 35px;
    background-color: rgb(180, 221, 212);
}

                                    /* checkbox */
.checkbox label{
     margin-left: 50px;
    max-width: fit-content;
    font-size: 12px;
 
  
}

.checkbox input {    
    margin-left: 15px;

}


.boton-enviar {                                         /*   boton enviar */
    background-color: #78B007;
    color: white;
    font-family: 'Take Chances', Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 15px;
    margin-left: 450px;
    text-align: center;
    border: none;
    margin-bottom: 30px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);


}

.boton-enviar:hover {
   background-color: green;
   cursor: pointer;
}




