/**  MIS MEDIA QUERIES **/


@media (min-width: 480px) {

}

@media (min-width: 768px) {
      
}

@media (min-width: 1140px) {

}

@media (min-width: 1300px) {

}

/** FUENTES **/

@font-face {
    font-family: 'Kingston Signature';
    src: url(tipografia/Kingston\ Signature.ttf);
}

@font-face {
    font-family: 'Take Chances';
    src: url(tipografia/Take\ Chances.ttf);
}

/** GENERALES **/

html {
    position: relative;
}

.contenedor {    
        max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Take Chances', sans-serif;
}

h2 {
    font-size: 2em;
    text-align: center;
    color: #FDB808;
    text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black ;

}

body {
    font-size: 16px;
    /* 1 rem = 16 px */
    background-image: url(imagenes/pattern.png);
    margin: 0;

}

.principal-container {
    width: 80%;
    margin: auto;
    max-width: 1500px;
    min-height: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
}

@media (max-width: 1520px) {
    .principal-container {
        margin: auto;
        grid-gap: 50px;
        min-height:auto;
    }
} 

@media (max-width: 768px) {
    .principal-container {
        width: 95%;
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 10px;
        min-height:auto;
    }
}

.item {
    border-radius: 10px;
    background: rgba(172, 170, 170, 0.281);
    margin-bottom: 10px;
    height: auto;
    text-align: center;
}

.item p {
    margin: 10px;
    text-align: justify;
}

.item {
    height: auto;
}

.titulo {
    text-align: center;
    font-size: 5rem;
    font-family: 'Take Chances', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #FDB808;
    text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black ;
}

.subtitulo {
    text-align: center;
    font-size: 2rem;
    font-family: 'Take Chances', sans-serif;
    color: #000000;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black ;
}

table  {
    border: black 2em;
   margin: auto; 
    margin-bottom: 20px;
    text-align: center;
}

th {
    background-color: #FDB808;
    color: #837f7f;
    padding: 10px;
}

td {
    padding: 10px;
}

.navContainer {
    background-color: #0097A7;
    margin-bottom: 20px;
}

.navegacion-principal ul {
    display: flex;
    margin: auto;
    max-width: 1300px;
    padding: 0;
    list-style: none;
    background-color: #0097A7;
    text-align: center;
}

.navegacion-principal ul li {
    width: 100%;
}

.navegacion-principal ul li ul {
    display: none;
    background-color: #61c9d4;
}

.navegacion-principal ul li a:hover + ul, .navegacion-principal ul li ul:hover {
    display: block;
}

.navegacion-principal a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    font-family: 'Take Chances', sans-serif;
    letter-spacing: 2px;
}

.navegacion-principal a:hover {
    background-color: #FDB808;
    color: black;
    cursor: pointer;
}

@media (max-width:768px) {
    .navegacion-principal ul{
        display: block;
        justify-content: space-between;
    }

}

/** FOOTER  **/

.footer-home {
    max-height: 30px;
    
}

.site-footer {
    background-color: #333333;
    margin-top: 0em;
    clear: left;
    display: block;
    position: relative; 
    bottom: 0;
    width: 100%;
    height: 60px;
}

.contenedor-footer {
    padding: 20px 15px 0px 15px;
}

.navegacion-footer a{
    /** para que se mantengan en linea **/
    
    color: #ffffff;
    text-decoration: none;
    padding: 1rem;
    font-family: 'Take Chances', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
   
}

@media (min-width: 768px) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
    }
}


@media (max-width: 768px) { 
    
    .site-footer {
        height: 90px;
    }
    .copyright {
        text-align: center;
        font-size: 14px;
        padding-top: 1.5em;
   }

   .navegacion-footer {
       text-align: center;
   }
}

.copyright {
    margin: 0rem;
    color: #f5f5f5;
}

