/**  MIS MEDIA QUERIES **/


@media (min-width: 480px) {

}

@media (min-width: 768px) {
      
}

@media (min-width: 1140px) {

}

@media (min-width: 1300px) {

}

/** FUENTES **/

@font-face {
    font-family: 'Kingston Signature';
    src: url(tipografia/Kingston\ Signature.ttf);
}

@font-face {
    font-family: 'Take Chances';
    src: url(tipografia/Take\ Chances.ttf);
}

/** GENERALES **/

html {
    position: relative;
}

.contenedor {    
        max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Take Chances', sans-serif;
}

h2 {
    font-size: 2em;
    text-align: center;
    color: #FDB808;
    text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black ;

}

body {
    font-size: 16px;
    /* 1 rem = 16 px */
    background-image: url(img/pattern.png);
    margin: 0;

}

.principal-container {
    width: 80%;
    margin: auto;
    max-width: 1500px;
    min-height: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
}

@media (max-width: 1520px) {
    .principal-container {
        margin: auto;
        grid-gap: 50px;
        min-height:auto;
    }
} 

@media (max-width: 768px) {
    .principal-container {
        width: 95%;
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 10px;
        min-height:auto;
    }
}

.item {
    border-radius: 10px;
    background: rgba(172, 170, 170, 0.281);
    margin-bottom: 10px;
    height: auto;
    text-align: center;
}

.item p {
    margin: 10px;
    text-align: justify;
}

.item {
    height: auto;
}

.titulo {
    text-align: center;
    font-size: 5rem;
    font-family: 'Take Chances', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #FDB808;
    text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black ;
}

.subtitulo {
    text-align: center;
    font-size: 2rem;
    font-family: 'Take Chances', sans-serif;
    color: #000000;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black ;
}

table  {
    border: black 2em;
   margin: auto; 
    margin-bottom: 20px;
    text-align: center;
}

th {
    background-color: #FDB808;
    color: #837f7f;
    padding: 10px;
}

td {
    padding: 10px;
}

.navContainer {
    background-color: #0097A7;
    margin-bottom: 20px;
}

.navegacion-principal ul {
    display: flex;
    margin: auto;
    max-width: 1300px;
    padding: 0;
    list-style: none;
    background-color: #0097A7;
    text-align: center;
}

.navegacion-principal ul li {
    width: 100%;
}

.navegacion-principal ul li ul {
    display: none;
    background-color: #61c9d4;
}

.navegacion-principal ul li a:hover + ul, .navegacion-principal ul li ul:hover {
    display: block;
}

.navegacion-principal a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    font-family: 'Take Chances', sans-serif;
    letter-spacing: 2px;
}

.navegacion-principal a:hover {
    background-color: #FDB808;
    color: black;
    cursor: pointer;
}

@media (max-width:768px) {
    .navegacion-principal ul{
        display: block;
        justify-content: space-between;
    }

}

/** FOOTER  **/

.footer-home {
    max-height: 30px;
    
}

.site-footer {
    background-color: #333333;
    margin-top: 0em;
    clear: left;
    display: block;
    position: relative; 
    bottom: 0;
    width: 100%;
    height: 60px;
}

.contenedor-footer {
    padding: 20px 15px 0px 15px;
}

.navegacion-footer a{
    /** para que se mantengan en linea **/
    
    color: #ffffff;
    text-decoration: none;
    padding: 1rem;
    font-family: 'Take Chances', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
   
}

@media (min-width: 768px) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
    }
}


@media (max-width: 768px) { 
    
    .site-footer {
        height: 90px;
    }
    .copyright {
        text-align: center;
        font-size: 14px;
        padding-top: 1.5em;
   }

   .navegacion-footer {
       text-align: center;
   }
}

.copyright {
    margin: 0rem;
    color: #f5f5f5;
}

.lista-productos {
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-gap: 20px;
}

@media (max-width: 1000px) {
    .lista-productos {
        grid-template-columns: repeat(2,3fr);
    }
}

@media (max-width: 700px ) {
    .lista-productos {
        grid-template-columns:  repeat(1,1fr);
    }
}
.lista-productos{
    padding: 0;
    margin: 10px;
}

.lista-productos li {
    list-style: none;
    padding: 30px;
}

.imagenCurso {
height: 100px;
}

.p-cursos {
    font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 25px;
padding-left: 10px;
}


.lista-productos button {

    background-color: #78B007;
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    text-align: center;
    border: none;
    margin-bottom: 30px;

}

.lista-productos button:hover {
    background-color: #791616;
    cursor: pointer;
}

.lista-productos a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 13px;
}

.main-banner {
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 700px;
    text-align: right;
}

.main-banner.nosotros {
    background-image:url(img/nosotros-main-banner.jpg);
}

.main-banner.cursos {
    background-image:url(img/demanda2.jpg);
}

.main-banner.contacto{
    background-image:url(img/contacto.jpg);
}

.separador-banner{
    width: 40%;
    height: 50px;
}

.main-banner-info-container{
    width: 40%;
    height: 100%;
    position: relative;
    left: 60%;
    color: #ffff;
    
}

@media (max-width: 768px) {
    .main-banner-info-container{
    width: 70%;
    left: 30%;
    }
}

.main-banner-info-container h3 {
    padding: 20px;
    margin: 20px;
    font-size: 50px;
}
.main-banner-info-container p {
    padding: 20px;
    margin: 20px;
    font-size: 20px;
}

.main-banner-button-container {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    text-align: right;
}

.main-banner-button {
    width: 200px;
    height: 50px;
    margin:  10px 40px 10px auto;
    text-align: center;
    color: #222;
    font-family: 'Take Chances', sans-serif;
}

.main-button{
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color:  rgb(9, 104, 104);
    border-radius: 6px;
    border: 2px solid rgb(255, 255, 255);
  }
  .main-button:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

  .imagen-nosotros {
    max-height: 500px;
    height: auto;
}

#location h3 {
    text-align: center;
}


.container{
    margin: 10px;
    height: auto;

}

.titleContainer {
    font-size: 25px;
    background-color: #b98a13;
    margin: 10px;
    padding: 0px;
    text-align: center;
}

.titleContainer h2 {
    padding: 5px;
    color: #ffff;
}

.profesores{
    display: grid;
    grid-template-columns:  1fr;
    grid-gap: 10px;
}

.info {
    width: calc(100%-10px);
    height: auto;
}




.fotoProfesorContainer {
    margin: auto;
    margin-top: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: rgb(177, 182, 182);
    overflow: hidden;
}

.nombreContainer {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: 50px;
    background: rgb(235, 240, 235);
}


.nombreContainer h4{
    text-align: center;
    padding: 10px;
    margin: auto;
    font-size: 25px;

}
.infoProfesorContainer {
    margin: 15px;

}


.infoProfesorContainer h5{
    text-align: center;
    font-size: 25px;
    color: rgb(9, 104, 104);

}

.infoProfesorContainer p{
    text-justify:unset ;
    
}


@media (min-width: 768px) {
    .container{
        grid-template-columns:  repeat(2,1fr);
        grid-gap: 10px;
    }

}

@media (min-width: 1140px) {
    .container{
        grid-template-columns:  repeat(4,1fr);
        grid-gap: 10px;
    }
}